<!DOCTYPE html>
<html>
  <head>
    <title>Axum and HTMX test</title>
    <link rel="stylesheet" type="text/css" href="main.css"/>
  </head>
  <body hx-on:namechanged="alert(event.detail.message);">
    <nav hx-boost="true" class="font-bold text-xl text-blue-300">
      <a href="/">HOME</a>
      <a href="/mypage">MY PAGE</a>
    </nav>
    {% block body %}
    <h1>Hello, <span id="name">{{ name }}</span>!</h1>
    <button hx-post="/click" hx-trigger="click" hx-swap="outerHTML">Click Me!</button>
    <br/>
    <form hx-post="/rename" hx-swap="innerHTML" hx-target="#name" hx-trigger="submit">
      <input type="text" name="name" placeholder="Enter your name"/>
      <input type="submit" value="Change name"/>
    </form>
    {% endblock %}
  </body>
  <script src="main.js"></script>
</html>
